#!/bin/bash

# 共通設定
DOTENV_FILE="dotenv/.env"
if [[ -e ${DOTENV_FILE} ]]; then
  dotenv ${DOTENV_FILE}
fi

# CFn Output
DOTENV_FILE="dotenv/.env.local"
if [[ -e ${DOTENV_FILE} ]]; then
  dotenv ${DOTENV_FILE}
fi
